# Make sure to change the values and add this on you .env.local file

# DATABASE config
MONGODB_URI=your-mongodb-uri

# IMGBB config
IMGBB_API_KEY=your-imgbb-api-key


# FIREBASE config
NEXT_PUBLIC_FIREBASE_APIKEY=your-firebase-api-key
NEXT_PUBLIC_FIREBASE_AUTHDOMAIN=your-firebase-auth-domain
NEXT_PUBLIC_FIREBASE_PROJECTID=your-firebase-project-id
NEXT_PUBLIC_FIREBASE_STORAGEBUCKET=your-firebase-storage-bucket
NEXT_PUBLIC_FIREBASE_MESSAGINGSENDERID=your-firebase-messaging-sender-id
NEXT_PUBLIC_FIREBASE_APPID=your-firebase-app-id