@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  /* Custom Colors */
  --color-accent: #0D57B6;
  --color-blue-light: #1651A9;
  --color-blue-dark: #064BAD;
  --color-bgGradient: #B3DFFE;
  --color-dark: #222222;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}